
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_StandardLayout.cshtml";
}

<div class="row mt-5">
    <div class="col-md-4">
        <img src="~/img/vcsconflicting_93497.png" class="w-100 img-fluid" />
    </div>
    <div class="col-md-8 display-4">
        <p class="lead text-danger">
            Bir hata oluştu.
        </p>
    </div>
</div>

