@model ImportanceAddDto
@{
    ViewData["Title"] = "addImportance";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<form method="post" class="w-75 mx-auto p-3">
    <div class=" form-group">
        <label asp-for="Definition">Tanım: </label>
        <span asp-validation-for="Definition" class="text-danger"></span>
        <input asp-for="Definition" type="text" class="form-control" />
    </div>
    <button type="submit" class="btm btn-sm btn-info"><i class="far fa-check-circle mr-2"></i>Kaydet</button>
</form>

@section JavaScript{

    <script src="~/lib/jqueryValidate/jquery.validate.min.js"></script>
    <script src="~/lib/jqueryUnob/jquery.validate.unobtrusive.min.js"></script>
}