@model ImportanceUpdateViewModel
@{
    ViewData["Title"] = "UpdateImportance";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<form asp-action="UpdateImportance" method="post" class="w-75 mx-auto p-3">
    <input type="hidden"  />
    <div class=" form-group">
        <label asp-for="Definition"></label>
        <span asp-validation-for="Definition" class="text-danger"></span>
        <input asp-for="Definition" type="text" class="form-control" />
    </div>
    <button type="submit" class="btm btn-sm btn-info">Kaydet</button>
</form>

@section JavaScript{

    <script src="~/lib/jqueryValidate/jquery.validate.min.js"></script>
    <script src="~/lib/jqueryUnob/jquery.validate.unobtrusive.min.js"></script>
}

